# Deployment Code-Server
apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-server
  labels:
    app: code-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      labels:
        app: code-server
    spec:
      serviceAccountName: code-server-sa
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
      containers:
        - name: code-server
          image: tien22012003/code-server-kubectl:latest
          args: ["--bind-addr", "0.0.0.0:8080"]
          ports:
            - containerPort: 8080
          env:
            - name: PASSWORD
              value: "123456"
          volumeMounts:
            - name: code-volume
              mountPath: /home/coder
            - name: kubernetes-token
              mountPath: /var/run/secrets/kubernetes.io/serviceaccount
              readOnly: true
      volumes:
        - name: code-volume
          persistentVolumeClaim:
            claimName: code-server-pvc
        - name: kubernetes-token
          emptyDir: {} # Kubernetes sẽ tự mount ServiceAccount secret

---
# Service để truy cập Code-Server
apiVersion: v1
kind: Service
metadata:
  name: code-server-service
spec:
  selector:
    app: code-server
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 33080
      targetPort: 8080

---
# PersistentVolumeClaim
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: code-server-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
# ServiceAccount và ClusterRoleBinding
apiVersion: v1
kind: ServiceAccount
metadata:
  name: code-server-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: code-server-crb
subjects:
  - kind: ServiceAccount
    name: code-server-sa
    namespace: default
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
